.fade-enter-active, .fade-leave {
  transition: all .3s
}
.fade-enter, .fade-leave-active {
  opacity: 0;
  transform: translateY(0.5em);
}
.chat-room-wrapper {
  position: fixed;
  right: 2.4em;
  bottom: 0;
  height: 80%; 
  width: 390px;
  background-color: rgba(255, 255, 255, 0.95); 
  border: 1px solid #eee;
  box-shadow: 0 22px 71px -2px rgba(0, 0, 0, 0.07);
  overflow: hidden;
  z-index: 10000;
  
  transition: 0.3s ease-in;
  visibility: hidden;
  // opacity: 0.6;
  transform: translateY(100%);
  &-open {
    visibility: visible;
    // opacity: 1;
    transform: translateY(0);
  }
  > h2 {
    background: #ce0a0a;
    padding: 11px 15px;
    color: white;
    font-size: 14px;
    font-weight: 500;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.08);
  }
  .chat-content {
    position: absolute;
    top: 39px;
    left: 0;
    right: 0;
    bottom: 48px;
    padding: 1em;
    overflow: auto;
    &::-webkit-scrollbar {
      width: 5px;
      height: 8px;
      background-color: #ff; /* or add it to the track */
    }
    /* Add a thumb */
    &::-webkit-scrollbar-thumb {
      background: #eee; 
      border-radius: 6px;
    }
    .chat-bubble {
      float: left;
      clear: both;
      margin: 5px 0;
      padding: 0.5em 1em 0.6em;
      background: #41444c;
      color: white;
      &-right {
        float: right;
        background-color: #3edcbf;
      }
    }
  }
  .chat-input {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 48px;
    border-top: 1px solid #e6e6e6;
    .chat-input-wrapper {
      height: 100%;
      margin-right: 80px;
      padding: 7px 0 7px 1em;
      background: #eee;
      input {
        width: 100%;
        height: 100%;
        padding: 0 1em;
        border: 1px solid #dfdfdf;
        outline: none;
        border-radius: 100px;
        background: white;
        font-size: 16px;
      }
    }
    > button {
      width: 80px;
      height: 100%;
      margin: 0;
      padding: 0;
      border-radius: 0;
      float: right;
      font-size: 1.3em;
      font-weight: 300;
      background: #eeeeee !important;
      color: #FF5722 !important;
    }
  }
}