@import "./ani.scss";
body {
  background: #F1F1F1;
}
a {
  color: #EC3535;
}
a:hover {
  color: #CA2A2A;
}
.ui.secondary.menu {
  margin: 0;
  background: #CA2A2A;
  padding: 6px;
  a.item.title {
    font-family: 'Lobster', cursive;
    padding: 0;
    font-size: 2em;
    margin-left: 0.8em;
    color: white;
  }
  a.item.title:hover {
    color: #FFFFFF;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.49);
  }
  a.item,
  a.item:hover {
    color: white;
  }
  a.item.solid {
    background: #D84A4A;
    box-shadow: 0 3px rgba(0, 0, 0, 0.24);
    padding: 0.6em 0.8em;
    transition: box-shadow 0.2s;
  }
  a.item.solid:active {
    box-shadow: none;
  }
}
.sec-menu {
  background: #8C2121;
  padding: 0 1.2em;
  //overflow: vi;
  .item {
    font-size: 1em;
    color: rgba(255, 255, 255, 0.9);
    padding: 5px 0.5em;
    display: inline-block;
    margin: 0 0.5em;
    transition: background 0.2s;
    position: relative;
    //transition: 0.2s transform;
  }
  .item.new:after {
    content: "new";
    position: absolute;
    background: #EAEA08;
    color: #585858;
    padding: 2px 6px 4px;
    font-size: 0.6em;
    line-height: 1;
    right: -12px;
    top: -7px;
    border-radius: 3px;
    transform: rotate(5deg);
  }
  .item:hover {
    background: #CA2A2A;
    transform: rotate(2deg);
  }
}
.ui.container {
  background: rgb(253,253,253);
  overflow: hidden;
  padding-bottom: 3em;
  hr {
    margin: 0 3em 5em;
    border: none;
    border-bottom: 1px solid #eee;
  }
  .banner {
    overflow: hidden;
    #map {
      width: 70%;
      height: 300px;
      float: left;
    }
    .photo {
      width: 15%;
      float: left;
      height: 130px;
      overflow: hidden;
      border: 2px solid white;
      line-height: 120px;
    }
    .photo img {
      width: 100%;
      vertical-align: middle;
    }
    .photo:nth-child(4) {
      width: 30%;
      height: 170px;
      border-top: none;
    }
  }
  > .header, > div > .header {
    clear: left;
    width: 75%;
    margin: 2em auto;
    overflow: hidden;
    //margin: 2em 1em;
    //padding-left: 1.8em;
    .content {
      float: left;
      display: block;
      font-size: 1.3em;
      font-family: "微軟正黑體";
      font-weight: 400;
      padding-left: 0.8em;
      .sub.header {
        line-height: 1.6em;
        margin-top: 22px;
        background: #F7F7F7;
        padding: 0 0.8em 0.6em;
        box-shadow: 0 0 3px inset;
        span {
          font-size: 0.8em;
          margin-right: 0.85em;
        }
        span:not(:first-child) {
          padding-left: 1.5em;
          margin-left: 1.5em;
          margin-right: 0.3em;
          border-left: 1px solid #D4C8C8;
        }
        a {
          margin-left: 0.35em;
        }
        .header-content {
          border-left: none !important;
          padding-left: 0 !important;
          margin-left: 0.35em !important;
          vertical-align: initial;
        }
      }
    }
    //.icon-wrapper {
    //  background: #52B5E0;
    //  color: #FFFFFF;
    //  border-radius: 20px;
    //  padding: 0.6em;
    //  display: inline-block;
    //  opacity: 1;
    //  padding-top: 0.14285em;
    //  vertical-align: middle;
    //  i {
    //    font-size: 1.5em;
    //    margin-right: 0;
    //    line-height: 1.75;
    //    transform: rotate(12deg);
    //  }
    //}
    i.header-icon {
      float: left;
      display: block;
      background: #52B5E0;
      color: #FFFFFF;
      border-radius: 20px;
      //padding: 0.6em;
      line-height: 60px;
      width: 68px;
      height: 68px;
    }
    img {
      margin-right: 0.3em;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      transform: translateY(6px); // rotate(16deg);
      transition: transform 0.6s;
    }
    img.act {
      transform: translateY(6px) rotate(-16deg);
    }
  }
  .article-content {
    font-family: "微軟正黑體";
    font-size: 1.5em;
    font-weight: 300;
    width: 65%;
    margin: auto;
    clear: left;
    img {
      min-width: 58%;
      max-width: 65%;
      min-width: 30%;
      max-width: 38%;
      margin: 0.8em 1.2em 2em;
      border-radius: 3px;
    }
    .img-group {
      max-width: 60%;
      overflow: auto;
      margin: 1em 0 2em;
      > div {
        float: left;
        min-width: 40%;
        width: 40%;
        margin: 0 3px;
        position: relative;
        img {
          margin: 3px;
          width: 100%;
          min-width: 100%;
          display: block;
        }
      }
      .circle {
        width: 85px;
        height: 85px;
        background: rgba(255, 247, 148, 0.94);
        border-radius: 50%;
        position: absolute;
        right: -48px;
        bottom: -42px;
        z-index: 1000;
        padding-top: 18px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.32);
        span.index-num {
          color: #000000;
          text-shadow: 0 1px 1px #B38888;
          width: 50%;
          display: block;
          float: left;
          line-height: 24px;
          padding: 0 0 3px 15px;
          text-align: center;
          font-size: 1.1em;
        }
        span.index-num:nth-child(even) {
          padding: 0 15px 3px 0;
        }
      }
      img:nth-child(odd) {
        clear: left;
      }
    }
  }
  h3.sub-title {
    margin-left: 15.3%;
    margin-top: 3.2em;
    font-family: "微軟正黑體";
    font-weight: 400;
    i {
      background: #52B5E0;
      color: #FFFFFF;
      border-radius: 20px;
      font-size: 1.5em;
      vertical-align: middle;
      margin-right: 0.33em;
    }
  }
  //h3.sub-title:after {
  //  content: "";
  //  display: block;
  //  width: 10em;
  //  border-bottom: 1px solid gray;
  //  margin-top: 0.4333em;
  //}
  .store-profile {
    width: 70%;
    margin: 2em auto;
    position: relative;
    overflow: hidden;
    //box-shadow: 0 9px 16px -2px #DCDCDC;
    box-shadow: 0 10px 20px 5px #CCCCCC;
    border-radius: 5px;
    transition: 0.35s all;
    border-radius: 2px;
    #sub-map {
      width: 60%;
      height: 300px;
      float: left;
    }
    .info {
      width: 40%;
      background: white;
      height: 300px;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 100;
      //
      background: #4186E6;
      color: white;
      .favorite {
        position: absolute;
        z-index: 1000;
        top: 36%;
        left: -36px;
        background: #FFEB3B;
        font-size: 1.5em;
        padding: 0.55em 0.4em;
        line-height: 1;
        border-radius: 50%;
        color: white;
        box-shadow: 0 2px 3px #737373;
        color: #696969;
        transition: all 0.2s;
      }
      .favorite:active {
        background: #F7E235;
        box-shadow: none;
      }
      div {
        font-family: "微軟正黑體";
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 100;
        padding: 1.6em 1.6em 1.6em 2.2em;
        h2 {
          margin: 1.2em 0 1em;
          color: #CA2A2A;
          font-family: "微軟正黑體";
          //
          color: rgba(255, 255, 255, 1);
        }
        h2.inverted {
          color: rgba(255, 255, 255, 0.58);
          text-shadow: 0 1px 3px #424242;
        }
        .ui.label {
          margin: 1em;
          background-color: #C58358!important;
          border-color: #a5673f!important;
        }
        .ui.label:before {
          background-color: #C58358!important;
          border-color: #a5673f!important;
        }
      }
    }
    .info:before {
      content: "";
      position: absolute;
      height: 150%;
      width: 50%;
      background: inherit;
      z-index: 50;
      transform: rotate(6deg);
      transform-origin: 0 0;
    }
  }
  //.store-profile:hover {
  //  box-shadow: 0 14px 20px -4px #C1C1C1;
  //  transform: translateY(-2.5px);
  //}
  .rank {
    width: 70%;
    margin: 1.5em auto;
    padding: 2em 0;
    button.blue {
      margin-right: 1em;
      //background-color: #607D8B;
    }
    button:nth-child(2) {
      margin-right: 2.2em;
    }
    div {
      margin-top: 1.2em;
      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        vertical-align: middle;
      }
      span {
        margin-left: 0.3em;
      }
      .rank-num {
        margin-right: 5px;
        color: #EC3535;
        font-size: 1.2em;
        vertical-align: text-top;
      }
    }
  }
}
div.pop-up {
  position: fixed;
  bottom: 3.8em;
  right: 7.4em;
  background: white;
  color: #525252;
  font-size: 0.8em;
  padding: 0.45em 0.6em;
  border-radius: 4px;
  border: 1px solid #CCCCCC;
  width: auto;
  font-weight: 400;
  font-family: "微軟正黑體";
  font-size: 1em;
  z-index: 1000;
  transition: background 0.2s;
}
div.pop-up:after {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  position: absolute;
  transform: rotate(45deg);
  right: -8%;
  top: 32%;
  background: white;
  border: 1px solid #CCCCCC;
  border-left: none;
  border-bottom: none;
  transition: background 0.2s;
}
div.pop-up.flash {
  animation: flash 2s 100000;
  background: #F44336;
  color: white;
  border: 1px solid #F44336;
}
div.pop-up.flash:after {
  background: #F44336;
  border: 1px solid #F44336;
  border-left: none;
  border-bottom: none;
}
div.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(53, 62, 66, 0);
  transition: 0.5s background;
  visibility: hidden;
  z-index: 1000;
}
div.mask.open {
  background: rgba(53, 62, 66, 0.70);
  visibility: visible;
}
#question.readme {
  position: relative !important;
  display: block;
  margin: 4em auto;
  width: 65%;
  max-width: 830px;
  padding: 0 2em !important;
}
#question.button.fab {
  position: fixed;
  bottom: 2em;
  right: 1.3em;
  font-size: 1.55em;
  background: #FFE926;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.18);
  z-index: 5000;
  padding: 17px 15px;
  overflow: hidden;
  transition: 1.2s all,0.2s box-shadow;
  will-change: transform;
  transform: translateZ(0);
  i {
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.36);
  }
  > div:first-child {
    display: block;
    i {
      margin: 0;
    }
  }
  .ques-form {
    transition: max-width 1.2s,max-height 1s,background 1s;
    text-align: left;
    overflow: hidden;
    border-radius: 2px;
    z-index: 10000;
    max-width: 0;
    max-height: 0;
    background: #FFE926;
    will-change: transform;
    transform: translateZ(0);
    .ui.form {
      margin: 2.5em;
      opacity: 0;
    }
    .fields {
      margin: 1em 0 1.6em;
    }
    .input-label {
      color: black;
    }
  }
}
#question.button.fab:active {
  background: #F7E235;
  box-shadow: none;
}
#question.button.fab.open:active {
  background: white;
}
#question.button.fab.open {
  padding: 0;
  border-radius: 2px;
  background: white;
  box-shadow: 0 6px 12px 6px rgba(0, 0, 0, 0.19);
  transition: 1.2s all;
  > div:first-child {
    display: none;
  }
  .ques-form {
    max-width: 800px;
    max-height: 800px;
    background: white;
    .ui.form {
      opacity: 1;
      .field.hidd {
        visibility: hidden;
        width: 0;
      }
    }
  }
}
.label-degree {
  overflow: auto;
  margin-bottom: 5px;
  span {
    float: left;
    color: #1B98C1;
    font-weight: 100;
  }
  span:nth-child(2) {
    float: right;
  }
}
.sa-confirm-button-container {
  display: none !important;
}
.opt-modal {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0);
  transition: all 0.45s;
  visibility: hidden;
  transition-timing-function: cubic-bezier(0.57, 0.04, 0.45, 1.14);
  transform: translateX(105%);
}
.opt-modal.vis {
  background: #FFFFFC;
  visibility: visible;
  transform: translate(0,0);
}
