@import "./ani.scss";
@import "./chat.scss";
body {
}
.cloud-zoom-big {
  transform: scale(1.6) translateX(2em) translateY(2em);
}
.ui.container {
  max-width: 960px !important;
}
.img-component {
  width: 100%;
}
.sec-header {
  padding: 1.6em 1.5em 1.2em;
  background: #b70e0e;
  border-radius: 0 0 9px 9px;
  color: white;
  h1 {
    margin-bottom: 5px;
  }
  .ui.breadcrumb {
    width: 100%;
    background: #ce1212;
    padding: 1em;
    border-radius: 2px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.01);
    a, i {
      color: white;
    }
  }
}
.ui.vertical.menu {
  background: #ffb2b2;
  border: none;
  margin-top: 2em;
  border-top: 4px solid #860a0a;
  border-radius: 3px;
  h2.header {
    margin: 10px 14px;
    color: #b70e0e;
  }
}
.product-intro {
  margin-top: 2em !important;
  > img {
    width: 100%;
  }
  .price-wrapper {
    .recommand-price {
      color: gray;
    }
    .real-price span {
      font-size: 2em;
      color: red;
    }
  }
  .addition-product {
    margin-top: 1.6em;
    > div {
      background: #e8e8e8;
      padding: 11px;
      border-radius: 3px;
    }
  }
  .product-image-slider {
    margin-bottom: 1.5em;
    img {
      margin: auto;
      display: block;
      margin-bottom: 2em;
    }
    &-thumb {
      img{
        height:60px;
        margin-bottom: 2em;
      }
    }
  }
  .order-detail {
    margin-top: 1.2em;
    text-align: left;
    th {
      letter-spacing: 2px;
    }
    th, td {
      padding: 6px 12px;
      padding-left: 0;
      .product-image-thumb {
        width: 50px;
      }
    }
  }
}
.product-detail {
  padding: 1.8em 1.6em;
  margin: 3em;
  border: 1px solid #e6e6e6;
  border-radius: 13px;
  > p {
    margin: 1em 0 3em;
    font-size: 16px;
    line-height: 1.6;
  }
}
div.pop-up {
  position: fixed;
  bottom: 3.8em;
  right: 7.4em;
  background: white;
  color: #525252;
  font-size: 0.8em;
  padding: 0.45em 0.6em;
  border-radius: 4px;
  border: 1px solid #CCCCCC;
  width: auto;
  font-weight: 400;
  font-family: "微軟正黑體";
  font-size: 1em;
  z-index: 1000;
  transition: background 0.2s;
}
div.pop-up:after {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  position: absolute;
  transform: rotate(45deg);
  right: -8%;
  top: 32%;
  background: white;
  border: 1px solid #CCCCCC;
  border-left: none;
  border-bottom: none;
  transition: background 0.2s;
}
div.pop-up.flash {
  animation: flash 2s 100000;
  background: #F44336;
  color: white;
  border: 1px solid #F44336;
}
div.pop-up.flash:after {
  background: #F44336;
  border: 1px solid #F44336;
  border-left: none;
  border-bottom: none;
}
div.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(53, 62, 66, 0);
  transition: 0.5s background;
  visibility: hidden;
  z-index: 1000;
}
div.mask.open {
  background: rgba(53, 62, 66, 0.70);
  visibility: visible;
}
#question.readme {
  position: relative !important;
  display: block;
  margin: 4em auto;
  width: 65%;
  max-width: 830px;
  padding: 0 2em !important;
}
#question.button.fab {
  position: fixed;
  bottom: 2em;
  right: 1.3em;
  font-size: 1.55em;
  background: #FFE926;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.18);
  z-index: 5000;
  padding: 15px 15px;
  overflow: hidden;
  transition: 1.2s all,0.2s box-shadow;
  will-change: transform;
  transform: translateZ(0);
  i {
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.36);
  }
  > div:first-child {
    display: block;
    i {
      margin: 0;
    }
  }
  .ques-form {
    transition: max-width 1.2s,max-height 1s,background 1s;
    text-align: left;
    overflow: hidden;
    border-radius: 2px;
    z-index: 10000;
    max-width: 0;
    max-height: 0;
    background: #FFE926;
    will-change: transform;
    transform: translateZ(0);
    .ui.form {
      margin: 2.5em;
      opacity: 0;
    }
    .fields {
      margin: 1em 0 1.6em;
    }
    .input-label {
      color: black;
    }
  }
}
#question.button.fab:active {
  background: #F7E235;
  box-shadow: none;
}
#question.button.fab.open:active {
  background: white;
}
#question.button.fab.open {
  padding: 0;
  border-radius: 2px;
  background: white;
  box-shadow: 0 6px 12px 6px rgba(0, 0, 0, 0.19);
  transition: 1.2s all;
  > div:first-child {
    display: none;
  }
  .ques-form {
    max-width: 800px;
    max-height: 800px;
    background: white;
    .ui.form {
      opacity: 1;
      .field.hidd {
        visibility: hidden;
        width: 0;
      }
    }
  }
}
.label-degree {
  overflow: auto;
  margin-bottom: 5px;
  span {
    float: left;
    color: #1B98C1;
    font-weight: 100;
  }
  span:nth-child(2) {
    float: right;
  }
}
.sa-confirm-button-container {
  display: none !important;
}
.opt-modal {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0);
  transition: all 0.45s;
  visibility: hidden;
  transition-timing-function: cubic-bezier(0.57, 0.04, 0.45, 1.14);
  transform: translateX(105%);
}
.opt-modal.vis {
  background: #FFFFFC;
  visibility: visible;
  transform: translate(0,0);
}
#chat.button.fab {
  position: fixed;
  bottom: 5.2em;
  right: 1.3em;
  font-size: 1.55em;
  background: #2196f3;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.18);
  z-index: 5000;
  padding: 15px 15px;
  overflow: hidden;
  transition: 1.2s all,0.2s box-shadow;
  will-change: transform;
  transform: translateZ(0);
  i {
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.36);
    margin: 0;
  }
}
